<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Iniciar sesión{% endblock %}</title>

    <!-- Enlaces CDN de Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <h1 class="title is-2 has-text-centered">Bienvenid@ al Sistema de Gestión de Espacios del CAi</h1>
                    <h2 class="subtitle is-4 has-text-centered">Iniciar sesión</h2>
                    <p class="has-text-centered">
                        <a href="https://www.cai.cl/solicitudes-espacios" class="button is-link">Haz clic aquí</a>
                        para encontrar más información sobre esta plataforma y sus instrucciones.
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <p class="help is-danger has-text-centered">{{ non_field_error }}</p>
                        {% endfor %}
                        {% for field in form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                                <div class="control">
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" required="" class="input">
                                </div>
                                {% for error in field.errors %}
                                    <p class="help is-danger has-text-centered">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="field has-text-centered">
                            <div class="control">
                                <input type="submit" value="Entrar" class="button is-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>

