{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <h3 class="title is-size-3">Revisa tu bandeja de entrada.</h3>
            <p>Se te envió un correo para restaurar tu contraseña. Deberías recibir el correo en los próximos minutos.</p>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}