{% extends 'base.html' %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <h3 class="title is-size-3">¿Olvidaste tu contraseña?</h3>
            <p>Escribe tu correo electrónico y se te enviará un correo con instrucciones para restaurarla.</p>
            <form method="post">
                {% csrf_token %}
                {% for non_field_error in form.non_field_errors %}
                    <p class="help is-is-danger">{{ non_field_error }}</p>
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                        <input class="input" name="email" maxlength="254" required="" id="id_email"><br>
                    <p class="help is-is-info">{{ field.help_text }}</p>
                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden.as_hidden }}
                {% endfor %}
                <input type="submit" value="Enviar correo" class="button is-success">
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}