<html>
    <head>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
            Estimados,<br><br>

            La solicitud de espacios "{{ name }}", ha sido aprobada por la Escuela de Ingeniería.<br><br>
            
            Esta tomará lugar desde el {{ start_date }} hasta el {{ finish_date }} en {{ place }}.<br><br>

            Saludos cordiales.<br><br>

            Este es un correo autogenerado, por lo que se pide por favor no responder. En caso de cualquier duda, comunicarse con jbetanzo@ing.puc.cl
        <br><br>
    </body>
</html>