<html>
    <head>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
            Estimado,<br><br>

            Te informamos que tu solicitud de espacios "{{ name }}", ha sido aprobada por la Escuela de Ingeniería.<br><br>
            
            Recuerda que esta tomará lugar desde el {{ start_date }} hasta el {{ finish_date }} en {{ place }} y una vez finalizado el evento
            debes dejar el espacio limpio, ordenado y que no debe haber ruido fuera de los horarios permitidos.<br><br>

            Saludos cordiales.<br><br>

            Este es un correo autogenerado, por lo que se pide por favor no responder. En caso de cualquier duda, comunicarse con 
            <a href="mailto:spugh@caiuc.cl">spugh@caiuc.cl</a>
    </body>
</html>
