{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}


{% block content %}
    <h3 class="title is-size-3">{{ page_name }}</h3>

    {% comment %} search bar {% endcomment %}
    <div class="field">
        {% comment %} search bar returns depending on view {% endcomment %}
        {% if url_search == 'pending' %}
        <form action="{% url 'activities_list_staff' %}" method="get">
        {% else %}
        <form action="{% url 'activities_list_staff_all' %}" method="get">
        {% endif %}

            <div class="control has-icons-left">
                <input name="search" class="input is-rounded" type="text" placeholder="Búsqueda por número de solicitud o nombre">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </form>
    </div>

    {% for activity in object_list %}
            <div class="card">
                {% if activity.state == 'A' %}
                <div class="notification is-success">
                {% elif activity.state == 'R' %}
                <div class="notification is-danger">
                {% elif activity.state == 'PC' or activity.state == 'PA' %}
                <div class="notification is-warning">
                {% else %}
                <div class="notification is-info">
                {% endif %}
                    <header class="card-header">
                            <p class="card-header-title">
                                #{{ activity.id }}: {{ activity.name}} -  {{ activity.get_state_display }}
                            </p>
                        {% if user.is_staff %}
                            <a href="{% url 'update_activity_status' activity.pk %}" class="card-header-icon" aria-label="more options">
                                Cambiar estado
                            </a>
                        {% endif %}
                    </header>
                </div>

                <div class="card-content">
                    <div class="content">
                        {{ activity.description }}
                    <br><br>
                    <time datetime="{{ activity.date_start }}">{{ activity.date_start }}</time> - <time datetime="{{ activity.date_finish }}">{{ activity.date_finish }}</time>
                    </div>
                </div>
            </div><br>
    {% endfor %}

    {% if is_paginated %}
        <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
            
            {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
                <a class="pagination-previous" disabled>Anterior</a>
            {% endif %}

            <ul class="pagination-list">
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="pagination-link is-current" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" aria-label="Goto page {{ i }}" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% else %}
                <a class="pagination-next" disabled>Próxima</a>
            {% endif %}
        </nav>
    {% endif %}


{% endblock content %}