{% extends 'base.html' %}

{% block content %}
    <div style="background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 40px 0 20px;">
        <div style="margin-top: 60px;">  <!-- Puedes ajustar el valor de margin-top según sea necesario -->
            <h3 class="title is-size-3">{{ page_name }} - {{ activity.name }}</h3>
        </div>
        {% include 'activities/detailed_view_template.html' %}

        <form method="post" class="form">
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
                <p class="help is-danger">{{ non_field_error }}</p>
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="field">
                    <label for="{{ field.id_for_label }}" class="label">Estado</label>
                    {{ field }}<br>
                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden.as_hidden }}
            {% endfor %}
            <div class="button-container">
                <input type="submit" value="{{ button }}" class="button is-primary">
            </div>
        </form>
    </div>
{% endblock %}









