{% extends 'base.html' %}

{% block title %}{{ page_name }} - {{ activity.name }}{% endblock %}

{% block content %}

    <h3 class="title is-size-3">{{ page_name }} - {{ activity.name }}</h3>
    {% include 'activities/detailed_view_template.html' %}
    <form method="post">
        {% csrf_token %}
        {% for non_field_error in form.non_field_errors %}
            <p class="help is-danger">{{ non_field_error }}</p>
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
                <label for="{{ field.id_for_label }}" class="label">Estado</label>
                {{ field }}<br>
            {% for error in field.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
            {{ hidden.as_hidden }}
        {% endfor %}
        <input type="submit" value="{{ button }}" class="button is-primary">
    </form>

{% endblock %}