{% extends 'base.html' %}

{% block title %}
    <div class="title-block" style="margin-top: 120px;">
        <h3 class="title is-size-3">{{ page_name }} - {{ activity.name }}</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="content" style="margin-top: 200px;">
        <!-- Esta es la última versión del contenido - Verificación de actualización -->
        <p>¡Hola! Esta es la última versión del contenido.</p>
        {% include 'activities/detailed_view_template.html' %}
    </div>
{% endblock %}




