{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <h3 class="title is-size-3">{{ page_name }}</h3>
            <h1>Actividad: {{ activity.name }}</h1>
            <h4>Encargado: {{ activity.in_charge }}</h4>
            <h3>Inicio: {{ activity.date_start }}</h3>
            <h3>Fin: {{ activity.date_finish }}</h3>
            <p>Descripción: {{ activity.description }}</p>

            <p>Espacio solicitado:
            {% if activity.space != None %}
                {{ activity.space }}</p>
            {% elif activity.space == None %}
                Ningúno</p>
            {% endif %}

            <p>Equipamiento solicitado:
            {% if activity.equipment != None %}
                {{ activity.equipment }}</p>
            {% elif activity.equipment == None %}
                Ninguno</p>
            {% endif %}
        </div>
        <div class="column"></div>
    </div>
</div>

{% endblock %}