
<head>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $("#id_date_start").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
    $(function () {
      $("#id_date_finish").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
  </script>
</head>
{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <div style="background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px 0;">
                <h3 class="title is-size-3">{{ page_name }}</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div style="margin-bottom: 10px;">
                            <label for="{{ field.id_for_label }}" style="background-color: #ffffff; padding: 8px; border-radius: 8px; margin-bottom: 10px; display: inline-block;">{{ field.label }}</label>
                            {{ field }}<br>
                            <p class="help is-info">{{ field.help_text }}</p>
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden.as_hidden }}
                    {% endfor %}
                    <input type="submit" value="{{ button }}" class="button is-success">
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}
