{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <h3 class="title is-size-3">{{ page_name }}</h3>
            <form method="post">
                {% csrf_token %}
                {% for non_field_error in form.non_field_errors %}
                    <p class="help is-is-danger">{{ non_field_error }}</p>
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                        {{ field }}<br>
                    <p class="help is-is-info">{{ field.help_text }}</p>
                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden.as_hidden }}
                {% endfor %}
                <a class="button is-info" href="/activities/staff">Omitir correo</a>
                <input type="submit" value="{{ button }}" class="button is-success">
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}