{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
{% load static %}
<h3 class="title is-size-3">{{ page_name }}</h3>

<div class="video-container">
    <div style="background-color: white; padding: 10px; border: 1px solid black; margin: 10px 0;">
        <h4 style="color: black; font-size: 24px; margin: 0;">Video tutorial: ¿Cómo reservar espacios?</h4>
    </div>
    <video width="640" height="360" controls style="display: block; margin: 0 auto;">
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
    <div style="background-color: white; padding: 10px; border: 1px solid black; margin: 10px 0;">
        <h4 style="color: black; font-size: 24px; margin: 0;">PDF Tutorial: <a href="{% static 'pdfs/tutorial.pdf' %}" target="_blank">¿Cómo pedir audiovisual siendo de Ingeniería y teniendo mi solicitud de espacio aprobada?</a></h4>
    </div>
</div>

{% endblock content %}



