<head>
    <style>
        #calendar {
            max-width: 70%;
            margin: 1% auto;
        }
    </style>
    <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet">
    <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
</head>

{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 class="title is-size-2">Hola, {{ user.username }}, el calendario del mes es el que se encuentra a continuación</h2>
        <div id='calendar'></div>
        <script>
            var events = JSON.parse('{{ events | escapejs }}');
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                        defaultView: 'dayGridMonth',
                        header: {
                            left: 'prev, next today',
                            center: 'title',
                            right: 'dayGridMonth, timeGridWeek, timeGridDay'
                        },
                    events: events
                });

                calendar.render();
            })
        </script>


    {% else %}
        <div class="container">
            <div class="columns is-mobile">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <h2 class="title is-size-2">No has iniciado sesión</h2><br>
                <a href="{% url 'login' %}" class="button is-primary is-fullwidth">Entrar</a><br>
                <a href="{% url 'signup' %}" class="button is-light is-fullwidth">Registrarse</a><br>
                <a href="{% url 'password_reset' %}" class="button is-info is-fullwidth">Olvidé mi contraseña</a><br>
            </div>
            <div class="column"></div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-mobile">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <article class="message is-warning">
                <div class="message-header">
                    <p>¡Bienvenidos a la nueva página de solicitudes!</p>
                </div>
                <div class="message-body">
                    ¡Si aún no tienes usuario puedes crearte uno ahora mismo! El código de la página es <strong>abierto</strong>, 
                    por lo que si tienes una sugerencia siéntete libre de hacer algún cambio y hacer un <em>pull request</em> en 
                    el <a href="https://github.com/centro-de-alumnos-de-ingenieria/pagina-solicitudes">códgio fuente</a>.
                </div>
                </article>
            </div>
            <div class="column"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}